<link rel="stylesheet" href="/css/sign_in.css">

<h1>Contact Us</h1>

<div class="Login" id='Login'>
    <div class="container-fluid auth-container">
        <form action="/contactSubmit" method="POST">
            <div class='row align-items-center'>
                <div class='col-1'>
                    <i  class="fas fa-user"></i>
                </div>
                <div class='col-10'>
                    <input type="text" name="name" placeholder="Your Name" required>
                </div>
            </div>

            <div class='row align-items-center'>
                <div class='col-1'>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class='col-10'>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
            </div>

            <div class='row align-items-center'>
                <div class='col-1'>
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class='col-10'>
                    <input type="text" name="query" placeholder="Enter Your Query Here" required>
                </div>
            </div>

            <div class='row align-items-center justify-content-center'>
                <div class='col-11'>
                    <input class='Submit-Button' type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div id="contacts-list-container" class="container-fluid">
        <h2>For Development Only</h2>
        <ul id="ullist">
                <% for(item of contacts){ %>
                    <div class="contactitem row align-items-center justify-content-center">
                        <div class="row">
                            Name:- <%= item.name %>
                        </div>
                        <div class="row">
                            Email:- <%= item.email %>
                        </div>
                        <div class="row">
                            Query:- <%= item.query %>
                        </div>
                    </div>
                <% } %>
        </ul>
    </div>
</div>