<section id="feed-posts">
    <br>
    <!-- <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST">
            <textarea id="postdata" name="content" cols="100" rows="3" placeholder="Whats on your mind ?..." required></textarea>
            <input type= "submit" value="Post">
    </form>
    <% } %> -->
    <div id="posts-list-container">
            <ul id="ullist">
            </ul>
    </div>
</section>