<link rel="stylesheet" href="/css/home.css">

<section id="items" class="container-fluid">
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/phone5.webp" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Iphone 14
                </div>
                <div class="row">
                        ₹79,990
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button>Buy Now</button>
                </div>
        </div>
    </div>

    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/phone4.webp" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Iphone 13 Pro
                </div>
                <div class="row">
                        ₹1,11,900
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button>Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/phone3.webp" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Samsung S20 FE 5G
                </div>
                <div class="row">
                        ₹39,990
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button>Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/phone2.webp" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Samsung M53 5G
                </div>
                <div class="row">
                        ₹26,499
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button>Buy Now</button>
                </div>
        </div>
    </div>
    
    <div class="item row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
                <img src="/images/phone1.webp" alt="phone">
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        Samsung M32 Prime
                </div>
                <div class="row">
                        ₹15,499
                </div>
        </div>
        <div class="col-6 col-md-3">
                <div class="row">
                        <button>Buy Now</button>
                </div>
        </div>
    </div>
    
</section>