header{
    background-color: rgba(189, 215, 228, 0.74);
    color: black;
    position: fixed;
    top: 0px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding:0.5vw;
}
header div{
    font-size: x-large;
    justify-self: flex-start;
}
header a{
    text-decoration: none;
    align-self: right;
    color: black;
    font-size: 1.2rem;
    margin-left: 5px;
    border-radius: 25px;
    padding: 7px;
    background-color: white;
}
header a:hover{
    background-color: black;
    color: white;
}