.auth-container {
    padding-top: 3px;
    margin-top: 15vh;
    width: 35vw;
    min-width: 300px;
    height: fit-content;
    background-color: rgba(189, 215, 228, 0.74);
    border-radius: 25px;
    text-align: center;
    border: 1px gray solid;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    
}
.auth-container .row{
    margin-top: 10px;
}
.auth-container .col-10 input{
    margin-top: 4%;
    width: 100%;
    background-color: transparent;
    border: 1px gray solid;
    color: black;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
.toggle-row{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}
.togButtons{
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
}
.togButtons:hover{
    background-color: white;
    color: black;
}
.ActiveToggle{
    background-color: black;
    color: white;
}
.ActiveToggle:hover{
    background-color: black;
    color: white;
}
.Submit-Button{
    margin-top: 4%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    margin-bottom: 5px;
    color: white;
    border-radius: 20px;
    
}

/* For contact page */
#ullist{
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 50vw;
}
.contactitem{
    padding-left: 10px;
    border-radius: 25px;
    margin: 5%;
    background-color: rgba(189, 215, 228, 0.74);
}
body::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 500px) {
    .auth-container{
        width: 90vw;
    }
    #ullist{
        width: 95vw;
    }
}